<html>
    <head>
        <title>React Todo</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <div id='view' />
    </body>
    <script language="javascript" type="text/javascript" src="/jsx/index.js"></script>
</html>
